<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="index.html">
            <strong><span>Company</span> ABC</strong>
        </a>

        <div class="d-lg-none">
            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

            <a href="product-detail.html" class="bi-bag custom-icon"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PageVancacyJob","Home")">Job Vancacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")">About Us</a>
                </li>
            </ul>

            <div class="d-flex align-items-center">

                @if (!string.IsNullOrEmpty(ViewBag.ImagePath))
                {
                    <img src="@Url.Content(ViewBag.ImagePath)" class="avatar-img me-3" style="width: 50px; height: 50px; border-radius: 50%;" />
                }
                @if (!string.IsNullOrEmpty(ViewBag.ImagePath))
                {
                    <a href="@Url.Action("UploadImage","Home")" class="bi bi-pencil custom-icon text-decoration-none mt-2" id="editImage"></a> <!-- Thêm icon chỉnh sửa ảnh -->
                }

                <div>
                    @if (HttpContext.Current.Session["account"] != null)
                    {
                        <h6 class="mb-0">Hello, @HttpContext.Current.Session["account"]</h6>
                    }

                    @if (HttpContext.Current.Session["role1"] == null)
                    {
                        <a href="@Url.Action("Login","Home")" class="bi bi-person custom-icon text-decoration-none me-3"></a>
                    }

                    @if (HttpContext.Current.Session["role1"] != null)
                    {
                        <a href="@Url.Action("Logout","Home")">Logout</a>
                    }
                </div>
            </div>

        </div>
    </div>
</nav>