
@{
    ViewBag.Title = "ViewResultDetail";
    //Layout = "~/Views/Admin/";
    List<ProjectExample.Models.Entities.ShowInterView> lscadidate = new List<ProjectExample.Models.Entities.ShowInterView>();
    if (ViewBag.details != null)
    {
        lscadidate = ViewBag.details;

    }


    int index = 1;
}

<h2>ViewResultDetail</h2>
<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Tables - Basic Tables | Materio - Bootstrap Material Design Admin Template</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    @Styles.Render(Url.Content("~/Content/Admin/assets/img/favicon/favicon.ico"))

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/fonts/materialdesignicons.css"))
    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/libs/node-waves/node-waves.css"))

    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/fonts/materialdesignicons.css"))
    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/css/core.css"))
    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/css/theme-default.css"))
    @Styles.Render(Url.Content("~/Content/Admin/assets/css/demo.css"))
    <!-- Menu waves for no-customizer fix -->
    <!-- Core CSS -->
    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"))
    @Styles.Render(Url.Content("~/Content/Admin/assets/vendor/libs/apex-charts/apex-charts.css"))

    <!-- Page CSS -->
    <!-- Helpers -->
    @Scripts.Render("~/Content/Admin/assets/vendors/js/helpers.js")

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    @Scripts.Render("~/Content/Admin/assets/js/config.js")


    @Styles.Render(Url.Content("~/Content/Home/assets/css/bootstrap.min.css"))

    @Styles.Render(Url.Content("~/Content/Home/assets/css/bootstrap-icons.css"))

    @Styles.Render(Url.Content("~/Content/Home/assets/css/slick.css"))

    @Styles.Render(Url.Content("~/Content/Home/assets/css/tooplate-little-fashion.css"))

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            @Html.Partial("~/Views/Admin/Menu/Menu.cshtml")
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @Html.Partial("~/Views/Admin/Menu/Navbar.cshtml")

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header" style="display: flex; justify-content: center; align-items: center; height: 100%;">Danh Sách Đề Xuất Tuyển Dụng Vị Trí Công Việc</h5>
                            <div style="display: flex; align-items: center; justify-content: center">
                                <input type="text" id="searchInput" oninput="performSearch()" placeholder="Search..." style="margin-right: 10px;border-radius: 15px;width:350px" />
                                @* <a class="btn btn-info btn-lg" type="button" href="@Url.Action("PageAddCandidates","Admin")" style="height: 40px; width: 80px; font-size: 10px;">Add info vacancies</a>*@
                            </div>
                            <div class="table-responsive text-nowrap">
                                @if (ViewBag.details != null)
                                {
                                    <table class="table" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name Cadidate</th>
                                                <th>Kết quả</th>
                                                <th>Đồng ý</th>
                                                <th>Từ chối</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">
                                            @foreach (ProjectExample.Models.Entities.ShowInterView item in lscadidate)
                                            {
                                                <tr>
                                                    <td>
                                                        @index
                                                    </td>
                                                    <td>@item.Cadidate.Name_cadidate</td>
                                                    <td>
                                                        @if (@item.Candidate_Employe.status == 0)
                                                        {
                                                            <p>Đã lên lịch</p>
                                                        }
                                                        @if (@item.Candidate_Employe.status == 1)
                                                        {
                                                            <p>Đã được chọn</p>
                                                        }
                                                        @if (@item.Candidate_Employe.status == 2)
                                                        {
                                                            <p>Đã từ chối</p>
                                                        }



                                                    </td>
                                                    <td>
                                                        @if (item.Candidate_Employe.status == 0)
                                                        {
                                                            <button class="confirm-button" data-cadiemp="1-@item.Candidate_Employe.id_CadiEmp">Xác nhận</button>

                                                        }

                                                        @if (item.Candidate_Employe.status != 0)
                                                         {
                                                            <button class="confirm-button" disabled>Xác nhận</button>
                                                         }
                                                    </td>
                                                    <td>
                                                        @if (item.Candidate_Employe.status == 0)
                                                        {
                                                            <button class="confirm-button" data-cadiemp="2-@item.Candidate_Employe.id_CadiEmp">Xác nhận</button>

                                                        }
                                                        @if (item.Candidate_Employe.status != 0)
                                                        {
                                                            <button class="confirm-button" disabled>Xác nhận</button>
                                                        }
                                                    </td>
                                                </tr>
                                                index++;

                                            }
                                            @*<div id="pdfDialog" title="Trang PDF"></div>*@

                                        </tbody>
                                    </table>

                                }
                                <div class="modal fade" id="don" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content border-0">
                                            <div class="modal-body">
                                                <iframe id="cv-iframe" src="" width="700" height="500"></iframe>
                                                @*<input  id="cv-iframe"/>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Responsive Table -->
                        <!--/ Responsive Table -->
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    @Html.Partial("~/Views/Admin/Menu/footer.cshtml")
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <div class="buy-now">
        <a href="https://themeselection.com/item/materio-bootstrap-html-admin-template/"
           target="_blank"
           class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    @Scripts.Render("~/Content/Admin/assets/vendors/libs/jquery/jquery.js")
    @Scripts.Render("~/Content/Admin/assets/vendors/libs/popper/popper.js")
    @Scripts.Render("~/Content/Admin/assets/vendors/js/bootstrap.js")
    @Scripts.Render("~/Content/Admin/assets/vendors/libs/node-waves/node-waves.js")
    @Scripts.Render("~/Content/Admin/assets/vendors/libs/perfect-scrollbar/perfect-scrollbar.js")
    @Scripts.Render("~/Content/Admin/assets/vendors/js/menu.js")

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->

    @Scripts.Render("~/Content/Admin/assets/js/main.js")

    <script>
        function performSearch() {
            var input = document.getElementById("searchInput");
            var searchText = input.value.toLowerCase();

            var table = document.getElementById("dataTable");
            var rows = table.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var rowData = rows[i].getElementsByTagName("td");
                var match = false;

                for (var j = 0; j < rowData.length; j++) {
                    var cellData = rowData[j].innerText.toLowerCase();

                    if (cellData.includes(searchText)) {
                        match = true;
                        break;
                    }
                }

                rows[i].style.display = match ? "" : "none";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.confirm-button').click(function (e) {
                e.preventDefault();

                var cadiemp = $(this).data('cadiemp');
                var values = cadiemp.split('-');
                var value1 = values[0];
                var value2 = values[1];

                $.ajax({
                    url: '/Admin/UpdateResult',
                    type: 'POST',
                    dataType: 'json',
                    data: { id_cadiEmp: value2, status: value1 },
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error Data Ajax');
                    }
                });
            });
        });
    </script>
    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>






